* {
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
}

header {
	background-image: url('../images/caribe.jpg');
	background-repeat: no-repeat;
	background-color: #7BB6DE;
}

section {
	display: inline-block;
	width: 100%;
}

h2 {
	color: #0976B4;
	text-align: center;
	margin: 2% 4%;
	padding: 1% 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

footer {
	background-color: #7BB6DE;
	padding: 10px 0;
	width: 100%;
}

header h1 {
	font-size: 50pt;
	padding: 150px 0;
	color: rgba(255,255,255,0.67);
	font-weight: bold;
	text-align: center;
	margin: 0;

}

section:nth-child(odd) {
    background: #EDF5FB;
}

section:nth-child(odd) > h2 {
    background: #FFFFFF;
}

section:nth-child(even) > h2 {
    background: #EDF5FB;
}

section:last-of-type {
	padding-bottom: 2%;
}

.thumbnail {
	display: inline-block;
	width: 30%;
	text-align: center;
}

.thumbnail img {
	width: 80%;
	padding: 4%;
    background-color: #FFFFFF;
    margin: 2% 6% 6%;
}

.icon {
	width: 32%;
}

.icon:hover {
	fill: #7BB6DE;
}

#copy {
	text-align: center;
}

#copy a {
	color:#FFFFFF;
	font-weight: bold;
}

/* for unity games */
div.broken, div.missing {
	margin: auto;
	position: relative;
	top: 50%;
	width: 193px;
}
div.broken a, div.missing a {
	height: 63px;
	position: relative;
	top: -31px;
}
div.broken img, div.missing img {
	border-width: 0px;
}
div.broken {
	display: none;
}
div#unityPlayer {
	cursor: default;
	height: 600px;
	width: 960px;
	margin: 0 auto;
}
/* end unity games */		

@media (max-width: 800px) {

	p {
		font-size: 95%;
	}

	header h1 {
		font-size: 30pt;
		padding: 25% 0;
	}
}

@media (max-width: 500px) {
	
	h2 {
		font-size: 1em;
	}

	p {
		font-size: 0.8em;
	}

	.thumbnail {
		width: 100%;
	}

	.icon {
		width: 100%;
	}

	.thumbnail:nth-child(even) {
		background: #FFFFFF;
	}



}

