html, body
{
    height: 95%;
    background-color: #4ec694;
	font-family: 'Open Sans', sans-serif;
}

#findme {
	float: right;
	border: none;
}

#findme .icon {
	fill: #f8df4a;
}

#findme .icon:hover {
	fill: #ffffff;
}

header {
	height: 90%;
}

header h1 {
	padding-top: 25%;
	font-family: 'Permanent Marker';
	font-size: 64pt;
	color: #f8df4a;
	font-weight: bold;
	text-align: center;
}

footer {
	height: 10%;
	text-align: center;
	color: #f8df4a;
}

/** {
	margin:0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #FCFCFF;
}

header {
	padding: 60px;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 64pt;
	color: #4F6088;
	font-weight: bold;
	text-align: center;
}

h2 {
	color: #4F6088;
	font-variant:small-caps;
	text-align: center;
}

div {
	text-align: center;
}

img {
	width: 100px;
}

a {
	text-decoration: none;
	color: #000000;
}

.container a section {
	border: 1px solid #E5ECFB;
	width: 30%;
	display: inline-table;
	margin: 0 10px 20px;
	height: 250px;
}

.container section:hover {
	background-color: #E5ECFB;
}

.title {
	padding: 10px;
}

.tags {
	padding: 10px;
	color: #4F6088;
	font-variant:small-caps;
	list-style-type: none;
}

footer {
	margin-top: 10px;
}

footer p {
	font-size: 10pt;
	text-align: center;
	padding: 10px;
	background-color: #4F6088;
	color: #ffffff;
}

#findme {
	float: right;
	border: none;
}

.icon:hover {
 	fill: #4F6088;
}
*/
