body {
	margin: 0;
}

header {
	background-image: url('../images/caribe.jpg');
	background-repeat: no-repeat;
	background-color: #7BB6DE;
}

header h1 {
	font-size: 30pt;
	color: rgba(255,255,255,0.67);
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 25% 0;
}

h2 {
	color: #0976B4;
}

footer {
	background-color: #7BB6DE;
	padding: 10px 0;
}

.icon {
	width: 32%;
}

.icon:hover {
	fill: #7BB6DE;
}

#copy {
	text-align: center;
}

@media (min-width: 500px){

	header h1 {
		font-size: 50pt;
		padding: 150px 0;
	}

}



