body {
	font-family:monospace;
}

h1 {						
	font-size: 18pt;			
	margin: 10px;				
}

h2 {						
	font-size: 14pt;			
	margin: 10px;				
}	

h3 {						
	font-size: 12pt;			
	text-align: center;
}

img {
	width: 100%;
	margin-bottom: 10px;
}

.findme {
	text-align: center;
}

.icon:hover {
	fill: #29BC72;
}

#copy {
	text-align: center;
}

/* if the window has at least 500 px */
@media (min-width: 500px) {		
	h1 {						
		font-size: 28pt;			
		margin: 20px;				
	}

	h2 {						
		font-size: 20pt;			
		margin: 20px;				
	}

	h3 {						
		font-size: 16pt;			
	}
}

/* if the window has at least 750 px */
@media (min-width: 750px) {		

	h1 {						
		font-size: 38pt;			
		margin: 40px;				
		text-align: center;
	}

	h2 {						
		font-size: 28pt;			
		margin: 30px;				
		text-align: center;
	}
	
	h3 {						
		font-size: 22pt;			
	}
}